{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>تعاونی</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Base styles -->
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">

    <!-- پیام پاپ‌آپ باید بعد از همه استایل‌ها لود بشه -->
    
    <link rel="stylesheet" href="{% static 'css/message_popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">

    {% block extra_headers %}{% endblock %}
</head>

<body>
    {% include 'includes/navbar.html' %}    
    {% include 'includes/messages.html' %}

    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- JS پیام‌های پاپ‌آپ -->
    <script src="{% static 'js/message_annimation.js' %}"></script>
</body>
</html>
